.App {
  text-align: center;
  background-image: url(./imagens/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Caixa {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
}
.cor1{
  text-align: center;
  margin-top: 180px;
  color: white
}
.botão{
  margin-left: 10px;
}
.corbutton{
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
}
.corbutton2{
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
